{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="booking-page">

    <div class="booking-image">
        <img src="{% static 'images/salon-booking.jpg' %}" alt="Luxury beauty salon">
    </div>

    <div class="booking-form-container">

    <h1>Book an Appointment</h1>

    <p>
        Choose your preferred beauty and wellness service.
    </p>

    {% if messages %}
    {% for message in messages %}
        <p class="{% if message.tags == 'error' %}error-message{% else %}success-message{% endif %}">
            {{ message }}
        </p>
    {% endfor %}
{% endif %}

    <form method="POST" 
    class="booking-form">
      {% csrf_token %}
    <label for="name">Name</label>
    <input type="text" id="name" name="name" placeholder="Enter your full name" required>

    <label for="email">Email</label>
    <input type="email" id="email" name="email" placeholder="Enter your email address" required>

    <label for="service">Service</label>
    <select id="service" name="service" required>
        <option value="">Select a service</option>
{% for service in services %}
    <option value="{{ service.name }}">{{ service.name }}</option>
{% endfor %}
    </select>

    <label for="date">Preferred Date</label>
<input type="date" id="date" name="preferred_date" min="{{ today }}" required>

<label for="time">Preferred Time</label>
<input
    type="time"
    id="time"
    name="preferred_time"
    value="{{ booking.preferred_time|time:'H:i' }}"
    min="09:00"
    max="21:00"
    required
>



    <button type="submit">Book Now</button>
</form>
</div>

</section>

{% endblock %}
