{% extends "base.html" %}

{% block content %}

<section class="hero">

    <div class="hero-content">
        <h1>Glow Space</h1>

        <p>
            Beauty, wellness, and self-care bookings made simple.
        </p>

        <a href="{% url 'bookings' %}" class="hero-btn">Book Appointment</a>
    </div>

</section>

<section class="services" id="services">

    <h2>Our Services</h2>

    <div class="service-container">

        <div class="service-card">
    <div class="service-icon">✨</div>
    <h3>Facial Treatments</h3>
    <p>Relaxing skincare treatments for glowing, healthy skin.</p>

    <p class="service-meta">30mins</p>
    <p class="service-price">€35</p>

    <a href="{% url 'bookings' %}" class="booking-btn">
    Book Now
</a>

</div>


        <div class="service-card">
    <div class="service-icon">💆‍♀️</div>
    <h3>Massage Therapy</h3>
    <p>Professional massages to help you relax and recharge.</p>

    <p class="service-meta">30mins</p>
    <p class="service-price">€35</p>

    <a href="{% url 'bookings' %}" class="booking-btn">
    Book Now
</a>

</div>


       <div class="service-card">
    <div class="service-icon">💅</div>
    <h3>Nail Care</h3>
    <p>Manicure and pedicure services with premium care.</p>

    <p class="service-meta">30mins</p>
    <p class="service-price">€35</p>

    <a href="{% url 'bookings' %}" class="booking-btn">
    Book Now
</a>
</div>

<div class="service-card">
    {% if service.image %}
    <div class="service-image">
        <img src="{{ service.image.url }}" alt="{{ service.name}}">
    </div>
       {% endif %}

    <h3>Hair Braiding</h3>


    <p>
        Professional protective braids and stylish hairstyles
        for every occasion.
    </p>


    <p class="service-meta">90 mins</p>
    <p class="service-price">€55</p>

    <a href="{% url 'bookings' %}" class="booking-btn">
        Book Now
    </a>
</div>

</section>

<section class="bookings">
    <h2>Book Your Appointment</h2>

    <p>
        Schedule your beauty and wellness services with ease.
    </p>

    <a href="{% url 'bookings' %}" class="booking-btn">Book Now</a>
</section>

<section id="contact" class="contact">
    <h2>Contact Us</h2>

    <p>
    📧
    <a href="mailto:info@glowspace.com">
        info@glowspace.com
    </a>
</p>

     <p>
    📞
    <a href="tel:+46727633818">
        +46 727 633 818
    </a>
</p>

    <p>
        We would love to hear from you. Contact us for appointments
        and beauty consultations.
    </p>
</section>

{% endblock %}

