{% extends "base.html" %}

{% block content %}
<section class="product-detail-section">
    <div class="product-detail-card">
        {% if product.image %}
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
        {% endif %}

        <div>
            <h1>{{ product.name }}</h1>
            <p>{{ product.description }}</p>
            <p><strong>€{{ product.price }}</strong></p>

            <a href="{% url 'add_to_cart' product.id %}" class="buy-btn">Buy Now</a>
        </div>
    </div>
</section>
{% endblock %}
