{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="booking-section">
    <div class="booking-container">

        <div class="booking-image">
            <img src="{% static 'images/salon-booking.jpg' %}" alt="Glow Space Salon">
        </div>

        <div class="booking-form">

            <h2>Create an Account</h2>

            <p>Register to manage your appointments.</p>

            <form method="POST">

                {% csrf_token %}

                <div class="form-group">
    <label for="id_username">Username</label>
    {{ form.username }}
    {{ form.username.errors }}
</div>

<div class="form-group">
    <label for="id_password1">Password</label>
    {{ form.password1 }}
    {{ form.password1.errors }}
</div>

<div class="form-group">
    <label for="id_password2">Confirm Password</label>
    {{ form.password2 }}
    {{ form.password2.errors }}
</div>

                <button type="submit" class="book-btn">
                    Register
                </button>

            </form>

            <p>
                Already have an account?
                <a href="{% url 'login' %}">Login here</a>
            </p>

        </div>

    </div>
</section>

{% endblock %}
