{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Glow Space</title>
</head>
<body>

    <nav class="navbar">
    <div class="logo">
        <h2>Glow Space</h2>
    </div>

    <ul class="nav-links">
        <li><a href="#">Home</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="{% url 'bookings' %}">Bookings</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>


    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
    <p>&copy; 2026 Glow Space. All rights reserved.</p>
</footer>

</body>
</html>
