{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Glow Space</title>
</head>

<body>

    <nav class="navbar">
    <div class="logo">
        <h2>Glow Space</h2>
    </div>

    <button class="menu-toggle" id="menu-toggle">☰</button>

    <ul class="nav-links" id="nav-links">
        <a href="{% url 'home' %}" class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">Home</a>

<a href="{% url 'home' %}#services">Services</a>

<a href="{% url 'bookings' %}" class="{% if request.resolver_match.url_name == 'bookings' %}active{% endif %}">Bookings</a>

<a href="{% url 'home' %}#contact">Contact</a>

{% if user.is_authenticated %}
    <li><a href="{% url 'appointments' %}">My Appointments</a></li>
    <li>
    <form method="POST" action="{% url 'logout' %}" class="logout-form">
        {% csrf_token %}
        <button type="submit" class="logout-button">Logout</button>
    </form>
</li>

{% else %}
    <li><a href="{% url 'login' %}">Login</a></li>
    <li><a href="{% url 'register' %}">Register</a></li>
{% endif %}

    </ul>
</nav>


    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
    <p>&copy; 2026 Glow Space. All rights reserved.</p>
</footer>

{% load static %}
<script src="{% static 'js/script.js' %}"></script>

</body>
</html>
